:root {
  --brand: #33afa5;
  --darkest: #0a3342;
  --dark: #205e75;
  --mid: #bec9df;
  --light: #e6e6e6;
  --white: #ffffff;
  --black: #1b1f2326;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light);
}
body {
  font-family: sans-serif;
  background: linear-gradient(#213642, #125c7e);
  width: 100vw;
  height: 100vh;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  vertical-align: middle;
  outline: none;
  border: 1px solid;
  border-radius: 5px;
  color: var(--darkest);
  background-color: var(--white);
  border-color: var(--black);
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  cursor: pointer;
}
button:hover,
button:focus {
  color: var(--white);
  background-color: var(--brand);
  border-color: var(--black);
  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition-duration: 0.1s;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: #6cd1c9;
  }
}

form input {
  margin: 1rem 0;
  padding: 0.6rem 0.8rem;
  font-size: 1.3rem;
  color: var(--darkest);
  vertical-align: middle;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}
input:focus {
  border-color: var(--brand);
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

header {
  height: 5rem;
  text-align: center;
  padding: 1rem;
}

main {
  height: calc(100% - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

main section {
  padding-top: 3rem;
  height: 100%;
  width: 50%;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  /* gap: ; */
}

.menu__section {
  .welcome-message {
    display: flex;
    gap: 0.2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .name {
    color: var(--brand);
    margin-left: 0.7rem;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 1rem;
    }
  }
}

.level {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--brand);
}

.result__section {
  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--brand);
  }
  b {
    color: var(--brand);
  }
  button {
    margin: 0.5rem 2rem;
  }
}

.no-results {
  text-align: center;
}

.leaderboard__section {
  font-size: 1.5rem;

  [table-header] {
    background-color: var(--darkest);
  }

  tr[rank="1"] {
    background-color: var(--brand);
  }

  tr[rank="2"] {
    background-color: rgba(74, 204, 193, 0.349);
  }

  tr[rank="3"] {
    background-color: #33afa52d;
  }

  td {
    text-align: center;
  }

  button {
    margin: 2rem 5rem 0;
  }
}

.update-name__section {
  h2 {
    margin-bottom: 2rem;
  }

  #cancel-update-name-button {
    margin-top: 1rem;
    width: max-content;
    align-self: center;
  }
}

.current-number {
  background: var(--brand);
  text-align: center;
  align-self: center;
  width: max-content;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  font-size: 3rem;
}

.numbers-animation {
  animation: pulse 1s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}
